:root {
  --color-darkest: #051923;
  --color-darker: #003554;
  --color-neutral: #006494;
  --color-lighter: #0582CA;
  --color-lightest: #00A6FB;
  --color-grey: #F5F5F5;
  --color-greyer: #DCDCDC;
}

body {
  background-color: var(--color-grey);
}

.App {
  display: flex;
  flex-direction: row;
}

.app-body {
  display: flex;
  flex-direction: column;
  width: calc(75vw - 25px);
  margin-left: 25px;
}

.planner-container {
  width: calc(25vw - 60px);
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100vh;
  padding: 30px;
  background-color: var(--color-greyer);
}

.planner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.item-select {
  margin: 5px auto;
  border: 2px solid var(--color-darker);
  width: 10px;
  height: 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 100%;
  padding: 7px;
  opacity: 50%;
}

.item-selected {
  background-color: var(--color-neutral);
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  gap: 5px
}

.item-list-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.filter-button {
  transition: box-shadow 0.3s;
  padding: 10px 15px;
  border: 1px solid var(--color-darkest);
  user-select: none;
  cursor: pointer;
  width: fit-content;
  border-radius: 50px;
  background-color: white;
}

.filter-button:hover {
  box-shadow: 0 0 11px var(--color-darker);
}

.filter-button:active {
  border: 2px solid var(--color-neutral);
  margin: -1px;
}

.active-button {
  background-color: var(--color-lightest);
  box-shadow: 0 0 5px var(--color-darkest);
}

.filter-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.item-image {
  width: 200px;
  height: 100px;
}

.item-properties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.priority {
  width: fit-content;
  padding: 2px 5px;
  border-radius: 3px;
}

.priority-Low {
  background-color: green;
}

.priority-Medium {
  background-color: goldenrod;
}

.priority-High {
  background-color: red;
}

.page-title {
  padding: 30px 40px 20px;
  font-size: x-large;
}

.itemList-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px
}

.item-container {
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  width: 300px;
  border: 1px solid var(--color-darkest);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  background-color: white;
}

.item-container-selected {
  /* background-color: var(--color-lightest); */
  border: 2px solid var(--color-neutral);
  margin: -1px;
  box-shadow: 0 0 5px var(--color-darkest);
  background-color: var(--color-greyer);
}

.item-container:hover {
  box-shadow: 0 0 11px var(--color-darker);
}

img {
  -webkit-user-drag: none;
}

.planner-title {
  font-size: larger;
  margin-bottom: 30px;
}

.planner-total {
  font-size: larger;
}

.page-desc {
  margin-right: 50%;
}
